@page "/management/vendor/edit/{Id}"
@layout ManagementPageLayout
@inherits WebMarketplaceComponentBase
@using Microsoft.Extensions.Localization
@using WebMarketplace.Localization
@using WebMarketplace.Vendors
@using WebMarketplace.Permissions
@inject IStringLocalizer<WebMarketplaceResource> L
@inject IVendorAppService VendorAppService
@inject NavigationManager NavigationManager

<Div Flex="Flex.JustifyContent.Between"
     Margin="@commonMargin">
    <Heading Size="HeadingSize.Is3">@L["EditVendor"]</Heading>
    <Div>
        <Button Color="Color.Secondary"
                Clicked="GoToList">
            <Icon Name="IconName.Times"/>
            @L["Cancel"]
        </Button>
        @if (CanEditVendor)
        {
            <Button Color="Color.Primary"
                    Clicked="SaveVendorAsync">
                <Icon Name="IconName.Save"/>
                @L["Save"]
            </Button>
        }
    </Div>
</Div>

<Accordion>
    <Collapse Visible="@infoVisible"
              Margin="@commonMargin">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>@L["Info"]</AccordionToggle>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <Field>
                <FieldLabel>@L["Name"]</FieldLabel>
                <TextEdit Placeholder="@L["VendorName"]"
                          @bind-Text="@Vendor.Name"/>
            </Field>
            <Field>
                <FieldLabel>@L["Description"]</FieldLabel>
                <TextEdit Placeholder="@L["Description"]"
                          @bind-Text="@Vendor.Description"/>
            </Field>
        </CollapseBody>
    </Collapse>
    <Collapse Visible="@addressVisible"
              Margin="@commonMargin">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>@L["Address"]</AccordionToggle>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <Field>
                <FieldLabel>@L["Address"]</FieldLabel>
                <TextEdit Placeholder="@L["Address"]"
                          @bind-Text="@Vendor.Address"/>
            </Field>
        </CollapseBody>
    </Collapse>
    <Collapse Visible="@mediaVisible"
              Margin="@commonMargin">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <AccordionToggle>@L["Media"]</AccordionToggle>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <Field>
                <FieldLabel>@L["Logo"]</FieldLabel>
                <FileUpload Placeholder="@L["Logo"]"/>
            </Field>
        </CollapseBody>
    </Collapse>
</Accordion>

@code {
    [Parameter] public string Id { get; set; }
    public Guid VendorId { get; set; }
    public VendorDto Vendor { get; set; } = new VendorDto();
    private IFluentSpacingOnBreakpointWithSideAndSize commonMargin = Margin.Is3.FromBottom;

    private bool CanEditVendor { get; set; } = false;
    private bool infoVisible = true;
    private bool addressVisible = true;
    private bool mediaVisible = false;

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(Id, out Guid vendorId))
        {
            VendorId = vendorId;
        }

        await GetVendorAsync();
        await SetPermissionsAsync();
    }

    private async Task SetPermissionsAsync()
    {
        CanEditVendor = await AuthorizationService
            .IsGrantedAsync(WebMarketplacePermissions.Vendors.Edit);
    }

    protected async Task GetVendorAsync()
    {
        Vendor = await VendorAppService.GetAsync(VendorId);
    }

    protected async Task SaveVendorAsync()
    {
        var editedVendor = ObjectMapper.Map<VendorDto, CreateUpdateVendorDto>(Vendor);
        await VendorAppService.UpdateAsync(Vendor.Id, editedVendor);
        GoToList();
    }

    private void GoToList()
    {
        NavigationManager.NavigateTo("/management/vendor/list");
    }

}