@page "/management/product/new"
@layout ManagementPageLayout
@using WebMarketplace.Localization
@using WebMarketplace.ProductCategories
@using WebMarketplace.Products
@using Microsoft.Extensions.Localization
@using WebMarketplace.Currencies
@inherits WebMarketplaceComponentBase
@inject IStringLocalizer<WebMarketplaceResource> L
@inject AbpBlazorMessageLocalizerHelper<WebMarketplaceResource> LH
@inject IProductAppService ProductAppService
@inject IProductCategoryAppService ProductCategoryAppService
@inject ICurrencyAppService CurrencyAppService
@inject NavigationManager NavigationManager


<Div Flex="Flex.JustifyContent.Between"
     Margin="@commonMargin">
    <Heading Size="HeadingSize.Is3">@L["NewProduct"]</Heading>
    <Div>
        <Button Color="Color.Secondary"
                Clicked="GoToProductList">
            <Icon Name="IconName.Times"/>
            @L["Cancel"]
        </Button>
        <Button Color="Color.Primary"
                Clicked="SaveProductAsync">
            <Icon Name="IconName.Save"/>
            @L["Save"]
        </Button>

    </Div>
</Div>

<Validations Model="@NewProduct"
             Mode="ValidationMode.Manual"
             @ref="@CreateValidationsRef">
    <Validation>
        <Accordion>
            <Collapse Visible="@productInfoVisible"
                      Margin="@commonMargin">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is3">
                        <AccordionToggle>@L["ProductInfo"]</AccordionToggle>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ProductName"]</FieldLabel>
                            <TextEdit Placeholder="@L["ProductName"]"
                                      @bind-Text="@NewProduct.Name">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ProductShortDescription"]</FieldLabel>
                            <TextEdit Placeholder="@L["ProductShortDescription"]"
                                      @bind-Text="@NewProduct.ShortDescription">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ProductFullDescription"]</FieldLabel>
                            <TextEdit Placeholder="@L["ProductFullDescription"]"
                                      @bind-Text="@NewProduct.FullDescription">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["ProductCategory"]</FieldLabel>
                            <SelectList TItem="ProductCategoryLookupDto"
                                        TValue="Guid?"
                                        Data="@Categories"
                                        TextField="@(item => item.Name)"
                                        ValueField="@(item => item.Id)"
                                        @bind-SelectedValue="@NewProduct.ProductCategoryId"
                                        DefaultItemText="@L["SelectProductCategory"]"/>
                        </Field>
                    </Validation>
                </CollapseBody>
            </Collapse>
            <Collapse Visible="@productPriceVisible"
                      Margin="@commonMargin">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is3">
                        <AccordionToggle>@L["Prices"]</AccordionToggle>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Price"]</FieldLabel>
                            <NumericPicker TValue="double" @bind-Value="@NewProduct.Price">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </NumericPicker>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Currency"]</FieldLabel>
                            <SelectList TItem="CurrencyLookupDto"
                                        TValue="string"
                                        Data="@Currencies"
                                        TextField="@(item => item.Code)"
                                        ValueField="@(item => item.Code)"
                                        @bind-SelectedValue="@NewProduct.Currency"
                                        DefaultItemText="@L["SelectCurrency"]"/>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L["Tax"]</FieldLabel>
                            <NumericPicker TValue="double"
                                           CurrencySymbol="%"
                                           CurrencySymbolPlacement="CurrencySymbolPlacement.Suffix"
                                           @bind-Value="@NewProduct.TaxPercent">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </NumericPicker>
                        </Field>
                    </Validation>
                </CollapseBody>
            </Collapse>
            <Collapse Visible="@productInventoryVisible"
                      Margin="@commonMargin">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is3">
                        <AccordionToggle>@L["Inventory"]</AccordionToggle>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <Field>
                        <FieldLabel>@L["InStock"]</FieldLabel>
                        <NumericPicker TValue="int"
                                       @bind-Value="@NewProduct.InStock">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </NumericPicker>
                    </Field>
                </CollapseBody>
            </Collapse>
            <Collapse Visible="@productPublishingVisible"
                      Margin="@commonMargin">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is3">
                        <AccordionToggle>@L["Publishing"]</AccordionToggle>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>
                    <Field>
                        <FieldLabel>@L["Published"]</FieldLabel>
                        <Check TValue="bool"
                               @bind-Checked="@NewProduct.IsPublished">
                            @L["Published"]
                        </Check>
                    </Field>
                </CollapseBody>
            </Collapse>
            <Collapse Visible="@productMediaVisible"
                      Margin="@commonMargin">
                <CollapseHeader>
                    <Heading Size="HeadingSize.Is3">
                        <AccordionToggle>@L["Media"]</AccordionToggle>
                    </Heading>
                </CollapseHeader>
                <CollapseBody>

                </CollapseBody>
            </Collapse>
        </Accordion>
    </Validation>
</Validations>