@page "/management/product/list"
@using WebMarketplace.Permissions
@using WebMarketplace.Products
@using Volo.Abp.Application.Dtos
@using Microsoft.Extensions.Localization
@using WebMarketplace.Localization
@using Volo.Abp
@using Volo.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<WebMarketplaceResource> LH
@inject IProductAppService ProductAppService
@inject NavigationManager NavigationManager
@inherits WebMarketplaceComponentBase   
@layout ManagementPageLayout

<Card>
    <CardHeader>
        <Row>
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Products"]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary"
                        >
                    @L["SaveProduct"]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ProductDto"
                  Data="ProductList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridCommandColumn/>
                <DataGridColumn TItem="ProductDto"
                                Field="@nameof(ProductDto.Name)"
                                Caption="@L["Name"]">
                </DataGridColumn>
                <DataGridColumn TItem="ProductDto"
                                Field="@nameof(ProductDto.Price)"
                                Caption="@L["Price"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>