@using WebMarketplace.Products
@inject NavigationManager NavigationManager

<Card IsClickable="true" Class="product-card" @onclick="OpenProductPage">
    <CardImage Src="@ProductImageUrl"/>
    <CardBody>
        <CardTitle>@Product.Name</CardTitle>
        <CardSubtitle>@Product.PriceAmount.ToString("C") @Product.PriceCurrency</CardSubtitle>
        <CardText Class="description-text">@Product.ShortDescription</CardText>
    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="AddToCart">Добавить в корзину</Button>
    </CardFooter>
</Card>

@code {
    [Parameter] public ProductCardDto Product { get; set; }

    private string ProductImageUrl => "https://via.placeholder.com/300"; 

    private void OpenProductPage()
    {
        NavigationManager.NavigateTo($"/product/{Product.Id}");
    }

    private void AddToCart()
    {
        Console.WriteLine($"Товар {Product.Name} добавлен в корзину.");
    }

}