@page "/management/company"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components.Web.Theming.PageToolbars
@using WebMarketplace.Addresses
@using WebMarketplace.Companies
@using WebMarketplace.Localization
@using WebMarketplace.Permissions
@inherits WmPageBase
@attribute [Authorize("SellerOnly")]
@inject IAuthorizationService AuthorizationService
@inject IAddressAppService AddressAppService
@inject ICompanySellerAppService CompanyAppService
@inject IStringLocalizer<WebMarketplaceResource> L
@inject AbpBlazorMessageLocalizerHelper<WebMarketplaceResource> LH
@inject IUiMessageService UiMessageService
@inject NavigationManager NavigationManager

<WmPageHeader Toolbar="@PageToolbar" BreadcrumbItems="@BreadcrumbItems" Header="@PageHeader" Title="@PageTitle" />

<Accordion Margin="Margin.Is3.FromBottom">
    <AccordionItem Visible="true">
        <AccordionHeader>
            <Heading Size="HeadingSize.Is3">
                <AccordionToggle>@L["Header:BasicInfo"]</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            <Field>
                <FieldLabel>@L["Field:Id"]</FieldLabel>
                <Addons>
                    <Addon AddonType="AddonType.Start">
                        <AddonLabel>
                            <Icon Name="IconName.Table" />
                        </AddonLabel>
                    </Addon>
                    <Addon AddonType="AddonType.Body">
                        <TextEdit Placeholder="@L["Placeholder:Write"]"
                                  Text="@Company.Id.ToString()"
                                  ReadOnly="true" />
                    </Addon>
                </Addons>
            </Field>
            <Validations @ref="@CompanyValidationsRef" Model="@Company" ValidateOnLoad="false">
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Field:CompanyIdentificationNumber"]</FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>
                                    <Icon Name="IconName.Pen" />
                                </AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="@L["Placeholder:Write"]"
                                          @bind-Text="@Company.CompanyIdentificationNumber"
                                          ReadOnly="true" />
                            </Addon>
                        </Addons>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Field:Name"]</FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>
                                    <Icon Name="IconName.Pen" />
                                </AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="@L["Placeholder:Write"]"
                                          @bind-Text="@Company.Name"
                                          ReadOnly="true" />
                            </Addon>
                        </Addons>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Field:DisplayName"]</FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>
                                    <Icon Name="IconName.Pen" />
                                </AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="@L["Placeholder:Write"]"
                                          @bind-Text="@Company.DisplayName"
                                          ReadOnly="true" />
                            </Addon>
                        </Addons>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Field:ShortDescription"]</FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>
                                    <Icon Name="IconName.Pen" />
                                </AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <MemoEdit @bind-Text="@EditCompany.ShortDescription"
                                          ReadOnly="!IsEditMode"/>
                            </Addon>
                        </Addons>
                    </Field>
                </Validation>
                <Validation MessageLocalizer="@LH.Localize">
                    <Field>
                        <FieldLabel>@L["Field:Website"]</FieldLabel>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel>
                                    <Icon Name="IconName.Pen" />
                                </AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit Placeholder="@L["Placeholder:Write"]"
                                          @bind-Text="@EditCompany.Website" 
                                          ReadOnly="!IsEditMode"/>
                            </Addon>
                        </Addons>
                    </Field>
                </Validation>
            </Validations>
        </AccordionBody>
    </AccordionItem>
</Accordion>

<Accordion Margin="Margin.Is3.FromBottom">
    <AccordionItem Visible="true">
        <AccordionHeader>
            <Heading Size="HeadingSize.Is3">
                <AccordionToggle>@L["Header:FullDescription"]</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            // todo: full description rich text editor EditCompany.FullDescription
        </AccordionBody>
    </AccordionItem>
</Accordion>

<Accordion Margin="Margin.Is3.FromBottom">
    <AccordionItem>
        <AccordionHeader>
            <Heading Size="HeadingSize.Is3">
                <AccordionToggle>@L["Header:Address"]</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            <WmAddressEdit @ref="WmAddressEditRef"
                                Address="EditAddress"
                                Id="@Address.Id"
                                ReadOnly="!IsEditMode">
            </WmAddressEdit>
        </AccordionBody>
    </AccordionItem>
</Accordion>

<Accordion Margin="Margin.Is3.FromBottom">
    <AccordionItem Visible="true">
        <AccordionHeader>
            <Heading Size="HeadingSize.Is3">
                <AccordionToggle>@L["Header:Images"]</AccordionToggle>
            </Heading>
        </AccordionHeader>
        <AccordionBody>
            <Div Flex="Flex.ReverseRow">
                <ToolbarButton Color="Color.Primary"
                               Icon="IconName.Add"
                               Clicked="()=>AddImageAsync()"
                               Text="@L["Action:AddImage"]" />
            </Div>
            <DataGrid TItem="CompanyImageDto"
                      Data="Images"
                      ReadData="OnImagesDataGridReadAsync"
                      TotalItems="ImageTotalCount"
                      ShowPager="false"
                      ShowPageSizes="false"
                      PageSize="ImageTotalCount"
                      Filterable="false"
                      Responsive="true"
                      Resizable="true"
                      FixedHeader="false">
                <DataGridColumns>
                    <DataGridColumn TItem="CompanyImageDto" Filterable="false">
                        <DisplayTemplate>
                            <Dropdown>
                                <DropdownToggle Color="Color.Primary">
                                </DropdownToggle>
                                <DropdownMenu>
                                    <DropdownItem Clicked="() => SetDefaultAsync(context.BlobName)" Disabled="!(CanEdit && !context.IsDefault)">
                                        <Icon Name="IconName.Check" Margin="Margin.Is1.FromEnd" />
                                        @L["Action:SetDefault"]
                                    </DropdownItem>
                                    <DropdownItem Clicked="() => DeleteImagesAsync(context.BlobName)" Disabled="!CanEdit">
                                        <Icon Name="IconName.Delete" Margin="Margin.Is1.FromEnd" />
                                        @L["Action:Delete"]
                                    </DropdownItem>
                                </DropdownMenu>
                            </Dropdown>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="CompanyImageDto"
                                    Field="@nameof(CompanyImageDto.Content)"
                                    Caption="@L["Field:Image"]"
                                    Width="300px">
                        <DisplayTemplate>
                            @{
                                var imageDataUrl = $"data:{context.ContentType};base64,{Convert.ToBase64String(context.Content)}";
                                <Image Source="@imageDataUrl"
                                       Text="@context.BlobName"
                                       Loading
                                       Style="height: 100%; width: 100%" />
                            }
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="CompanyImageDto"
                                    Field="@nameof(CompanyImageDto.BlobName)"
                                    Caption="@L["Field:Name"]" />
                    <DataGridCheckColumn TItem="CompanyImageDto"
                                         Field="@nameof(CompanyImageDto.IsDefault)"
                                         Caption="@L["Field:IsDefault"]" />
                </DataGridColumns>
            </DataGrid>
        </AccordionBody>
    </AccordionItem>
</Accordion>

<CompanyImageNewModal @ref="AddImageModalRef"
                      OnCreated="GetImagesAsync" />
